{% extends 'base.html' %}
{% load static %}

<!-- Web Ticker -->
{% block breaking_news_area %}
<section class="top-news">
    <div class="container">
        <div class="news-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ticker d-flex justify-content-between">
                        <div class="news-head">
                            <span>ሰበር ዜናዎች<i class="fa fa-caret-right"></i></span>
                        </div>
                        <ul id="webTicker">
                            {% for post in breaking_post_list %}
                            <li><a href="{% url 'news:post-detail' post.id post.slug %}"><i class="fa fa-dot-circle-o"></i>{{ post.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock breaking_news_area %}
<!-- End Web Ticker -->

<!-- Slider Area -->
{% block slider_area %}
<section class="slider-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 padding-fix-r">
                <div class="owl-carousel owl-slider">
                    {% for post in featured_post_list1 %}
                    <div class="slider-content">
                        {% if post.picture %}
                        <img src="{{ post.picture.url }}" alt="{{ post.title }}" class="img-fluid">
                        {% else %}
                        <img src="{{ post.catagory.picture.url }}" alt="{{ post.title }}" class="img-fluid">
                        {% endif %}
                        <div class="slider-layer">
                            <p><a href="#">{{ post.title }}</a></p>
                            <ul class="list-unstyled list-inline">
                                <li class="list-inline-item">{{ post.catagory.title }}</li>
                                <li class="list-inline-item">{{ post.published_at|date:'M d, Y' }}</li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-md-12 slider-fix">
                {% for post in featured_post_list2 %}
                <div class="slider-sidebar sidebar-o">
                    {% if post.picture %}
                    <img src="{{ post.picture.url }}" alt="{{ post.title }}" class="img-fluid">
                    {% else %}
                    <img src="{{ post.catagory.picture.url }}" alt="{{ post.title }}" class="img-fluid">
                    {% endif %}
                    <div class="sidebar-layer">
                        <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">{{ post.catagory.title }}</li>
                            <li class="list-inline-item">{{ post.published_at|date:'M d, Y' }}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock slider_area %}
<!-- End Slider Area -->

{% block content %}
<!-- All News -->
<section class="allnews">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="latest-top">
                    <h4>ትኩስ ዜናዎች</h4>
                </div>
                <div class="owl-carousel latest-slider">
                    <div class="latest-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="latest-content">
                                    {% if latest_post1.picture %}
                                    <img src="{{ latest_post1.picture.url }}" alt="{{ latest_post1.title }}" class="img-fluid">
                                    {% else %}
                                    <img src="{{ latest_post1.catagory.picture.url }}" alt="{{ latest_post1.title }}" class="img-fluid">
                                    {% endif %}
                                    <h6><a href="{{ latest_post1.get_absolute_url }}">{{ latest_post1.title }}</a></h6>
                                    <ul class="list-unstyled list-inline">
                                        <li class="list-inline-item">{{ latest_post1.catagory.title }}</li>
                                        <li class="list-inline-item">{{ latest_post1.published_at|date:'M d, Y' }}</li>
                                    </ul>
                                    <p>{{ latest_post1.body|truncatewords:20 }}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% for post in latest_post_list1 %}
                                <div class="slider-content clearfix">
                                    <div class="slider-img">
                                        <a href="{{ post.get_absolute_url }}">
                                            {% if post.thumbnail %}
                                            <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="img-fluid">
                                            {% else %}
                                            <img src="{{ post.catagory.thumbnail.url }}" alt="{{ post.title }}" class="img-fluid">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="img-content">
                                        <p><a href="#">{{ post.title }}</a></p>
                                        <span>{{ post.published_at|date:'M d, Y' }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular-top">
                    <h4>ቡዙ የተነበቡ</h4>
                </div>
                <div class="owl-carousel popular-slider">
                    <div class="popular-item">
                        <div class="row">
                            {% for post in popular_post_list %}
                            <div class="col-lg-4 col-md-6">
                                <div class="slider-content">
                                    <div class="slider-img">
                                        <a href="{{ post.get_absolute_url }}">
                                            {% if post.picture %}
                                            <img src="{{ post.picture.url }}" alt="{{ post.title }}" class="img-fluid">
                                            {% else %}
                                            <img src="{{ post.catagory.picture.url }}" alt="{{ post.title }}" class="img-fluid">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="img-content">
                                        <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
                                        <ul class="list-unstyled list-inline">
                                            <li class="list-inline-item">{{ post.catagory.title }}</li>
                                            <li class="list-inline-item">{{ post.published_at|date:'M d, Y' }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                {% include 'partials/sidebar.html' %}
            </div>
        </div>
    </div>
</section>
<!-- End All News -->


<!-- Other News -->
{% if more_post_list %}
<section class="oth-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="more-top">
                    <h4>MORE NEWS</h4>
                </div>
                {% for post in more_post_list %}
                <div class="more-content">
                    <div class="more-img">
                        <a href="{{ post.get_absolute_url }}">
                            {% if post.picture %}
                            <img src="{{ post.picture.url }}" alt="{{ post.title }}" class="img-fluid">
                            {% else %}
                            <img src="{{ post.catagory.picture.url }}" alt="{{ post.title }}" class="img-fluid">
                            {% endif %}
                        </a>
                    </div>
                    <div class="img-content">
                        <h6><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h6>
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">{{ post.catagory.title }}</li>
                            <li class="list-inline-item">{{ post.published_at|date:'M d, Y' }}</li>
                        </ul>
                        <p>{{ post.body|truncatewords:20 }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endif %}
<!-- End Other News -->
{% endblock content %}