<div class="follow-widget">
    <h4>FOLLOW US</h4>
    <ul class="list-unstyled clearfix">
        <li>
            <a href="catagory-one.html">
                <i class="fa fa-facebook"></i>
                <p><span>44,410</span>fans</p>
            </a>
        </li>
        <li>
            <a href="catagory-one.html">
                <i class="fa fa-twitter"></i>
                <p><span>31,219</span>subscriber</p>
            </a>
        </li>
        <li>
            <a href="catagory-one.html">
                <i class="fa fa-rss"></i>
                <p><span>11,209</span>subscriber</p>
            </a>
        </li>
        <li>
            <a href="catagory-one.html">
                <i class="fa fa-linkedin"></i>
                <p><span>19,323</span>follower</p>
            </a>
        </li>
        <li>
            <a href="catagory-one.html">
                <i class="fa fa-google-plus"></i>
                <p><span>29,559</span>follower</p>
            </a>
        </li>
        <li>
            <a href="catagory-one.html">
                <i class="fa fa-youtube"></i>
                <p><span>56,717</span>subscriber</p>
            </a>
        </li>
    </ul>
</div>
<div class="add-widget">
    <a href="catagory-one.html"><img src="images/add-1.png" alt="" class="img-fluid"></a>
</div>
<div class="tab-widget">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="catagory-one.html#m-view" role="tab">Most Viewed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="catagory-one.html#comment" role="tab">Comments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="catagory-one.html#catagory" role="tab">Catagories</a>
        </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="m-view" role="tabpanel">
            <div class="m-view-content">
                <div class="m-view-img">
                    <a href="catagory-one.html"><img src="images/latest-5.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="img-content">
                    <p><a href="catagory-one.html">These sentences are selected from various online news.</a></p>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
            </div>
            <div class="m-view-content">
                <div class="m-view-img">
                    <a href="catagory-one.html"><img src="images/latest-6.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="img-content">
                    <p><a href="catagory-one.html">These sentences are selected from various online news.</a></p>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
            </div>
            <div class="m-view-content">
                <div class="m-view-img">
                    <a href="catagory-one.html"><img src="images/latest-4.jpg" alt="" class="img-fluid"></a>
                </div>
                <div class="img-content">
                    <p><a href="catagory-one.html">These sentences are selected from various online news.</a></p>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                        <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="comment" role="tabpanel">
            <div class="comment-content">
                <div class="comment-img">
                    <a href="catagory-one.html"><i class="fa fa-user"></i></a>
                </div>
                <div class="img-content">
                    <p><a href="catagory-one.html"><span>Jamy : </span>These sentences are selected from various online news....</a></p>
                </div>
            </div>
            <div class="comment-content">
                <div class="comment-img">
                    <a href="catagory-one.html"><i class="fa fa-user"></i></a>
                </div>
                <div class="img-content">
                    <p><a href="catagory-one.html"><span>Jamy : </span>These sentences are selected from various online news....</a></p>
                </div>
            </div>
            <div class="comment-content">
                <div class="comment-img">
                    <a href="catagory-one.html"><i class="fa fa-user"></i></a>
                </div>
                <div class="img-content">
                    <p><a href="catagory-one.html"><span>Jamy : </span>These sentences are selected from various online news....</a></p>
                </div>
            </div>
            <div class="comment-content">
                <div class="comment-img">
                    <a href="catagory-one.html"><i class="fa fa-user"></i></a>
                </div>
                <div class="img-content">
                    <p><a href="catagory-one.html"><span>Jamy : </span>These sentences are selected from various online news....</a></p>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="catagory" role="tabpanel">
            <div class="catagory-content">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="catagory-one.html">Business <span>19</span></a></li>
                            <li><a href="catagory-one.html">World <span>21</span></a></li>
                            <li><a href="catagory-one.html">Tech <span>23</span></a></li>
                            <li><a href="catagory-one.html">Politics <span>27</span></a></li>
                            <li><a href="catagory-one.html">Sports <span>11</span></a></li>
                            <li><a href="catagory-one.html">Entertainment <span>19</span></a></li>
                            <li><a href="catagory-one.html">Lifestyle <span>21</span></a></li>
                            <li><a href="catagory-one.html">Fashion <span>21</span></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled">
                            <li><a href="catagory-one.html">Animal <span>23</span></a></li>
                            <li><a href="catagory-one.html">Politics <span>27</span></a></li>
                            <li><a href="catagory-one.html">Health <span>11</span></a></li>
                            <li><a href="catagory-one.html">National <span>19</span></a></li>
                            <li><a href="catagory-one.html">Culture <span>21</span></a></li>
                            <li><a href="catagory-one.html">Music <span>23</span></a></li>
                            <li><a href="catagory-one.html">Food <span>27</span></a></li>
                            <li><a href="catagory-one.html">Travel <span>11</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>